# Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >> AAA

# เป็นการยกตัวอย่างการใช้ String

In [3]:
a ='ชื่อ พงศ์ศิริเดช นามสกุล ศิลปษา รหัส 603021874-8'
print(a)

ชื่อ พงศ์ศิริเดช นามสกุล ศิลปษา รหัส 603021874-8

In [4]:
name = 'พงศ์ศิริเดช'
surname = 'ศิลปษา'
ID = '603021874-8'

b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ พงศ์ศิริเดช นามสกุล ศิลปษา รหัส 603021874-8

# Function template

### รูปแบบของการสร้างก์ชั่นเพื่อใช้งาน ใช้คำว่า def ตามด้วย ชื่อฟังก์ชั่นที่ต้องการ (ชื่อฟังก์ชั่นที่สร้างต้องไม่ซ้ำกับ ฟังก์ชั่นที่ไพทอนสร้างไว้ให้)

  ```python
  def function_name(x):
        do_someting
        return y
```

### normal function
### เป็นการยกตัวอย่างการใช้ Function ในการเรียกผลลัพธ์ ชื่อ นามสกุล รหัส โดยใช้คำสั่งดังนี้

In [8]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [9]:
print(print_line1('ลั่นฟ้า','บุญรอด', '603021874-8'))

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021874-8

### สามารถเปลี่ยน คำสั่ง return เป็น print()ได้ เมื่อต้องการเพิ่มคำสั่งเข้าไปในฟังชั่นอีก ดังเช่นตัวอย่างนี้ ที่เพิ่มคำสั่ง st2 = f'เกรดวิชา stat1 >>> {grade}'

In [16]:
def print_2line(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [17]:
print_2line('ลั่นฟ้า','บุญรอด','603021874-8','A')

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021874-8
เกรดวิชา stat1 >>> A

In [20]:
print_2line('พงศ์ศิริเดช','ศิลปษา','603021874-8','A')
print_2line('ลั่นฟ้า','บุญรอด','603021885-3','A')
print_2line('ภานรินทร์','อิ่นแก้ว','603021110-2','A')
print_2line('กาญจนา','ประสาคุณ','603021855-2','A')

ชื่อ พงศ์ศิริเดช นามสกุล ศิลปษา รหัส 603021874-8
เกรดวิชา stat1 >>> A
ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021885-3
เกรดวิชา stat1 >>> A
ชื่อ ภานรินทร์ นามสกุล อิ่นแก้ว รหัส 603021110-2
เกรดวิชา stat1 >>> A
ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา stat1 >>> A

### ในการใช้ Function เมื่อใช้คำสั่ง return แล้วหลังจากนั้นไม่ว่าจะใส่คำสั่งอะไรก็จะไม่มีผลลัพธ์ออกมา

In [1]:
def print_2line_er(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

### *จะเห็นได้ว่า ผลลัพธ์ที่ออกมา ไม่ได้แสดงเกรดออกมาด้วย

In [23]:
print_2line_er('ลั่นฟ้า','บุญรอด','603021874-8','A')

'ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021874-8'

# function without input

In [24]:
def two_x_three():
    x = 2*3
    return x

In [25]:
two_x_three()

6

# function with default argument

In [27]:
def print_2line_default(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

## หากไม่ใส่เกรด เกรดจะเป็น F ให้ทันที

In [29]:
print_2line_default('ลั่นฟ้า','บุญรอด','603021874-8')

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021874-8
เกรดวิชา stat1 >>> F

In [30]:
print_2line_default('ลั่นฟ้า','บุญรอด','603021874-8','A')

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021874-8
เกรดวิชา stat1 >>> A

In [34]:
print_2line_default(surname1 ='ลั่นฟ้า',name1 ='บุญรอด', ID1 ='603021874-8')

ชื่อ บุญรอด นามสกุล ลั่นฟ้า รหัส 603021874-8
เกรดวิชา stat1 >>> F

# loop (วนซ้ำ)
## คำสั่ง for  เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

```python
for each_member in listA:
    do something
```

### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ [1,2,3]

In [35]:
for i in [1,2,3]:
    print(i)

1
2
3

### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'pongsiridech' และเพิ่มคำสั่ง (f'{i}-> /') เพื่อให้ผลลัพธ์แสดงสัญลักษณ์  -> /  ออกมาด้วย

In [38]:
for i in 'pongsiridech':
    print(f'{i}-> /')

p-> /
o-> /
n-> /
g-> /
s-> /
i-> /
r-> /
i-> /
d-> /
e-> /
c-> /
h-> /

### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'pongsiridech' และใช้คำสั่ง print(f'{i}-> /') เพื่อให้ผลลัพธ์แสดงสัญลักษณ์  -> /  ออกมา จากนั้นจึงเพิ่มคำสั่ง print('  ') อีกครั้งเพื่อให้ผลลัพธ์เกิดการเว้นวรรค

In [39]:
for i in 'pongsiridech':
    print(f'{i}-> /')
    print(' ')

p-> /

o-> /

n-> /

g-> /

s-> /

i-> /

r-> /

i-> /

d-> /

e-> /

c-> /

h-> /

## 1 สร้าง list ชื่อเพื่อน ที่อยู่ในแถวยาวเดียวกัน 
## 1.5 สร้าง function print ประโยคว่า xxxเรา yyyความรู้สึก zzzเพื่อน ทุกคนในแถว
## 2 วน loop เรียกฟังชั่น

### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ ['แบงค์','ไอซ์','ฟาง','เกต','โด้','นัท','นกยูง','บอส'] จากนั้นใช้คำสั่ง print(f'แบงค์ ชื่นชอบ {i}') เพื่อแสดงผลลัพธ์ออกมา

In [40]:

for i in ['แบงค์','ไอซ์','ฟาง','เกต','โด้','นัท','นกยูง','บอส']:
    print(f'แบงค์ ชื่นชอบ {i}')

แบงค์ ชื่นชอบ แบงค์
แบงค์ ชื่นชอบ ไอซ์
แบงค์ ชื่นชอบ ฟาง
แบงค์ ชื่นชอบ เกต
แบงค์ ชื่นชอบ โด้
แบงค์ ชื่นชอบ นัท
แบงค์ ชื่นชอบ นกยูง
แบงค์ ชื่นชอบ บอส

# Function in loop
### เป็นการใช้ function เพื่อช่วยในการวนลูป

## ดังตัวอย่างต่อไปนี้

### เริ่มต้นด้วยการสร้างไฟล์ friend_list ขึ้นมา

In [4]:
 friend_list = ['ไอซ์','ฟาง','เกต','โด้','นัท','นกยูง','บอส']

### จากนั้นใช้คำสั่ง def ในการสร้างฟังค์ชั่น ด้วยการตั้งชื่อฟังค์ชั่นก่อน (*ในกรณีนี้ฟังค์ชั่นชื่อ คือ print_feeling(I,feeling,friend)*) จากนั้นให้กำหนดว่าฟังค์ชั่นเราจะทำอะไร

In [81]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [73]:
print_feeling('bank','love','ice')

bank love ice

In [ ]:
### ต่อมาใช้คำสั่ง For ในการทำให้ผลลัพธ์ที่ได้จาก function

In [83]:
for f in friend_list:
    print_feeling('bank','love',f)

bank love ไอซ์
bank love ฟาง
bank love เกต
bank love โด้
bank love นัท
bank love นกยูง
bank love บอส

### loop in loop
### การใช้คำสั่ง For สามารถใช้ซ้ำกันได้อีก

In [97]:
for name1 in friend_list:
    for name2 in friend_list:
        print_feeling(name1,'love',name2)

ไอซ์ love ไอซ์
ไอซ์ love ฟาง
ไอซ์ love เกต
ไอซ์ love โด้
ไอซ์ love นัท
ไอซ์ love นกยูง
ไอซ์ love บอส
ฟาง love ไอซ์
ฟาง love ฟาง
ฟาง love เกต
ฟาง love โด้
ฟาง love นัท
ฟาง love นกยูง
ฟาง love บอส
เกต love ไอซ์
เกต love ฟาง
เกต love เกต
เกต love โด้
เกต love นัท
เกต love นกยูง
เกต love บอส
โด้ love ไอซ์
โด้ love ฟาง
โด้ love เกต
โด้ love โด้
โด้ love นัท
โด้ love นกยูง
โด้ love บอส
นัท love ไอซ์
นัท love ฟาง
นัท love เกต
นัท love โด้
นัท love นัท
นัท love นกยูง
นัท love บอส
นกยูง love ไอซ์
นกยูง love ฟาง
นกยูง love เกต
นกยูง love โด้
นกยูง love นัท
นกยูง love นกยูง
นกยูง love บอส
บอส love ไอซ์
บอส love ฟาง
บอส love เกต
บอส love โด้
บอส love นัท
บอส love นกยูง
บอส love บอส

# loop in function
### การใช้คำสั่งเพื่อวนลูปในฟังค์ชั่น

In [87]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [88]:
print_feelings('bank','love', friend_list)

bank love ไอซ์
bank love ฟาง
bank love เกต
bank love โด้
bank love นัท
bank love นกยูง
bank love บอส

# looping in dict
### การใช้คำสั่งวนลูป ในdict

In [91]:
name_grade = {'พงศ์ศิริเดช':'B','ลั่นฟ้า':'A','พันทิพา':'C','ทรงกรด':'F'}
name_grade

{'พงศ์ศิริเดช': 'B', 'ลั่นฟ้า': 'A', 'พันทิพา': 'C', 'ทรงกรด': 'F'}

In [92]:
name_grade['ลั่นฟ้า']

'A'

In [95]:
name_grade.keys()

dict_keys(['พงศ์ศิริเดช', 'ลั่นฟ้า', 'พันทิพา', 'ทรงกรด'])

### .keys() เป็นคำสั่งพิเศษ

In [94]:
for i in name_grade.keys():
    print(i)

พงศ์ศิริเดช
ลั่นฟ้า
พันทิพา
ทรงกรด

In [96]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พงศ์ศิริเดช ได้เกรด B
ลั่นฟ้า ได้เกรด A
พันทิพา ได้เกรด C
ทรงกรด ได้เกรด F

# conditional (เงื่อนไข)
# == , != , >= , <= , < , >

```python
if condition1:
    do someting
elif condition2:
    do another thing
else:
    do ...
```

In [99]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
            print_feeling(name1,'love',name2)

ไอซ์ love ฟาง
ไอซ์ love เกต
ไอซ์ love โด้
ไอซ์ love นัท
ไอซ์ love นกยูง
ไอซ์ love บอส
ฟาง love ไอซ์
ฟาง love เกต
ฟาง love โด้
ฟาง love นัท
ฟาง love นกยูง
ฟาง love บอส
เกต love ไอซ์
เกต love ฟาง
เกต love โด้
เกต love นัท
เกต love นกยูง
เกต love บอส
โด้ love ไอซ์
โด้ love ฟาง
โด้ love เกต
โด้ love นัท
โด้ love นกยูง
โด้ love บอส
นัท love ไอซ์
นัท love ฟาง
นัท love เกต
นัท love โด้
นัท love นกยูง
นัท love บอส
นกยูง love ไอซ์
นกยูง love ฟาง
นกยูง love เกต
นกยูง love โด้
นกยูง love นัท
นกยูง love บอส
บอส love ไอซ์
บอส love ฟาง
บอส love เกต
บอส love โด้
บอส love นัท
บอส love นกยูง

In [100]:
if True:
    print('yes')

yes

In [102]:
if False:
    print('no')

In [103]:
if False:
    print('yes')
else:
    print('no')

no

In [104]:
1 == 1

True

In [105]:
if 1 == 1:
    print('1=1')

1=1

# HW 
เขียน function ตัดเกรด โดยที่ input เป็น คะแนน(0-100) output เป็นเกรด (F-A)
input = [1, 50, 65, 90, 101, -5, 49]

In [35]:
def many_grade(grade):
    if grade >= 80 :
        print(f'{grade} ได้เกรด A')
    elif 79 >= grade >= 75: 
         print(f'{grade} ได้เกรด B+')
    elif 74 >= grade >= 70:
        print(f'{grade} ได้เกรด B')
    elif 69 >= grade >= 65:
        print(f'{grade} ได้เกรด c+')
    elif 64 >= grade >= 60:
        print(f'{grade} ได้เกรด C')
    elif 59 >= grade >= 55:
        print(f'{grade} ได้เกรด D+')
    elif 54 >= grade >= 50:
        print(f'{grade} ได้เกรด D')
    else:
        print(f'{grade} ได้เกรด F')

In [50]:
many_grade(1)

1 ได้เกรด F

In [49]:
many_grade(50)

50 ได้เกรด D

In [48]:
many_grade(65)

65 ได้เกรด c+

In [47]:
many_grade(90)

90 ได้เกรด A

In [46]:
many_grade(101)

101 ได้เกรด A

In [45]:
many_grade(-5)

-5 ได้เกรด F

In [44]:
many_grade(49)

49 ได้เกรด F